RunAllBots/Bots/Data/KanMususData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="KanMusus">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Bot">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Tag" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="username" type="xs:string" use="required" />
            <xs:attribute name="password" type="xs:string" use="required" />
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
            <xs:attribute name="enabled" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>