RunAllBots/Bots/Data/PixivAuthentication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="User">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Username" type="xs:string" />
        <xs:element name="Password" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="enabled" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>