RunAllBots/Bots/Data/SauceNAOConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SauceNAOConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="User">
          <xs:complexType>
            <xs:attribute name="enabled" type="xs:boolean" use="required" />
            <xs:attribute name="username" type="xs:string" use="required" />
            <xs:attribute name="password" type="xs:string" use="required" />
            <xs:attribute name="api_key" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>